<div class='ces__profile-wrapper'>
  <a class='ces__profile__link' href='{{profileURL}}'>
    <div class='ces__profile__header ces__clearfix'>
      <img alt='Profile Image' class='ces__profile__avatar' src='{{avatar}}'>
      <div class='ces__profile__name'>{{name}} {{pro}}</div>
      <div class='ces__profile__username'>@{{username}}</div>
    </div>
  </a>
  <div class='ces__profile__stats'>
    <a class='ces__profile__followers-link ces__stats__link' href='{{followersURL}}'>
      <strong class='ces__profile__followers-stat ces__profile__stat'>{{followers}}</strong> Followers
    </a>
    <a class='ces__profile__following-link ces__stats__link' href='{{followingURL}}'>
      <strong class='ces__profile__following-stat ces__profile__stat'>{{following}}</strong> Following
    </a>
  </div>
  <div class='ces__clearfix ces__profile__pens'></div>
</div>