.main-header {
  height: 34px;
  min-height: 34px;
  border-width: 3px;
  border-color: #222;
}

.by {
  margin: auto 0 auto 10px;
}

.user-avatar {
  width: 22px;
  height: 22px;
  margin-left: 3px;
}

body.logged-in .user-stuff {
  padding: 5px 0;
  margin-right: 5px;
}

body.layout-top .top-boxes .editor-resizer,
.layout-top .ces__resize-bar {
  width: 10px;
}

body.layout-side .resizer {
  width: 8px;
}

body.layout-top .resizer {
  height: 8px;
}

.pen-title-area .icon-codepen-box {
  height: 18px;
  width: 18px;
  margin-right: 5px;
}

.edit-pen-title {
  height: 12px;
  width: 12px;
  top: 0px;
  margin: auto 10px auto 0;
}

/*
* This is the main editor container. By adding to the
* overall width we can shove it off screen by a bit which
* hides the gap caused by shrinking the resize handles.
* 
* Kind of dumb but it's far easier than trying to mess with
* the CP.editorResizeController object (which I tried to do
* and failed miserably)
*/

body.layout-top .top-boxes {
  width: calc(100% + 24px);
}

/*
* The headers that swivel when you resize the editor windows
*/
body.layout-top .box-title--resizer {
  display:none;
}

/*
* The actual normal headers (hidden by default I guess,
* we need them now that the swivel ones are gone)
*/
body.layout-top .top-boxes .box .box-title-name {
  visibility: visible;
}

.box-title {
  font-size: .9em;
}

.powers {
  padding: 1px 0px 4px 0;
}

.editor-actions-right {
  top: 1px;
  right: 3px;
}

.layout-top .editor-actions-left {
  padding-left: 3px;
}

.primary-actions .button {
  padding: 3px 8px;
  border: 0;
  background: transparent!important;
  margin: 0;
  opacity: .6;
  font-size: .9em;
}

.primary-actions .button:not(.loves) > svg {
  display: none;
}

.primary-actions .button:hover {
  opacity: 1;
}

.pen-title-area .pen-title {
  font-size: 1em;
  width: auto;
  background: rgba(127,127,127,.3);
  height: 100%;
  display: flex;
}

.pen-title-area .pen-title-link {
  max-width: none;
  margin: auto 0;
  padding: 0 10px;
}
.pen-title-text, .pen-title-home-link {
  display: flex;
  margin-right: 5px;
}

.pen-title-home-link svg {
  margin: auto;
}

.pen-title-area {
  padding: 0 0 0 8px;
}

.mini-button {
  padding: 2px 4px;
}

.settings-nub, .editor-dropdown-button {
  padding: 0 2px;
}

/*
* footer height and body
* padding-bottom must match
*/
.site-footer {
  height: 30px;
}

body {
  padding-bottom: 30px;
}

.console-wrap {
  height: calc(100% - 32px);
}

.unsaved #save,
.unsaved #update {
  color: #FEDD31;
  opacity: 1;
}

.unsaved #save::after,
.unsaved #update::after {
  content: none;
}

.code-wrap {
  height: calc(100% - 26px);
}
