.editor-title-button svg {
  fill: #999;
}

.CodeMirror-simplescroll-horizontal div,
.CodeMirror-simplescroll-vertical div {
  background: #666;
}

.powers {
  border-bottom: 1px solid rgba(255, 255, 255, 0.0470588);
}

.CodeMirror-matchingbracket {
  border-bottom: 1px solid currentColor;
}

.CodeMirror-matchingtag {
  border-bottom: 1px solid;
}