$footer-size: 30px;
$resizer-size: 10px;
body.distraction-free-mode {
  padding-bottom: $footer-size;
  .site-footer {
    height: $footer-size;
  }
  
  #main-header {
    min-width: 700px;
  }

  &.layout-top {

    /*
    * This is the main editor container. By adding to the
    * overall width we can shove it off screen by a bit which
    * hides the gap caused by shrinking the resize handles.
    * 
    * Kind of dumb but it's far easier than trying to mess with
    * the CP.editorResizeController object (which I tried to do
    * and failed miserably)
    */
    .top-boxes {
      width: calc(100% + 24px);
    }
    
    // The headers that swivel when you resize the editor windows
    .box-title--resizer {
      display:none;
    }
    
    
    // The actual normal headers (hidden by default I guess,
    // we need them now that the swivel ones are gone)
    .top-boxes .box .box-title-name {
      visibility: visible;
    }

    .top-boxes .editor-resizer,
    .ces__resize-bar {
      width: $resizer-size;
    }

    .resizer {
      // having the horizontal bar be 2px smaller
      // looks correct to me.
      height: $resizer-size - 2px;
    }

    .editor-actions-left {
      padding-left: 3px;
    }
  }
  
  &.layout-side {
    .resizer {
      width: $resizer-size;
    }
  }

  &.logged-in .user-stuff {
    padding: 5px 0;
    margin-right: 5px;
  }


  .main-header {
    height: 34px;
    min-height: 34px;
    border-width: 3px;
    border-color: #222;
  }

  .main-header .header-router-wrap,
  .main-header .navigation-wrap {
    height: 100%;
  }

  .by {
    margin: auto 0 auto 10px;
  }

  .navigation-wrap .user-avatar {
    width: 22px;
    height: 22px;
    margin-left: 3px;
  }

  .item-title-area .icon-codepen-box {
    height: 18px;
    width: 18px;
    margin-right: 5px;
  }

  .edit-pen-title {
    height: 12px;
    width: 12px;
    top: 0px;
    margin: auto 10px auto 0;
  }

  .box-title {
    font-size: .9em;
  }

  .powers {
    padding: 1px 0px 4px 0;
  }

  .editor-actions-right {
    top: 1px;
    right: 3px;
  }

  #main-header .button.green {
    color: #47cf73;
  }

  .navigation-wrap .button {
    padding: 3px 8px;
    border: 0;
    background: transparent!important;
    margin: 0;
    opacity: .6;
    font-size: .9em;
  }

  .navigation-wrap .button:not(.loves):not(.pin-button):not(.pin-dropdown-button) > svg {
    display: none;
  }

  .navigation-wrap .pin-button {
    padding-right: 0;
  }

  .navigation-wrap .button:hover {
    opacity: 1;
  }

  .item-title {
    font-size: 1em;
    width: auto;
    height: 100%;
    display: flex;
  }
  
  .item-title-text {
    display: flex;
    margin-right: 5px;
  }

  .logo.header-chunk {
    height: 65%;
    margin: auto;
    a, .icon {
      height: 100%;
    }

    .icon {
      display: block;
    }
  }

  .mini-button {
    padding: 2px 4px;
  }

  .settings-nub, .editor-dropdown-button {
    padding: 0 2px;
  }

  .console-wrap {
    height: calc(100% - 32px);
  }

  &.unsaved #save,
  &.unsaved #update {
    color: #FEDD31;
    opacity: 1;
  }

  &.unsaved #save::after,
  &.unsaved #update::after {
    content: none;
  }

  .code-wrap {
    height: calc(100% - 26px);
  }
}